@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body {
    background-color: #1D232A;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: #FFFFFF;
}

.cabecalho {
    display: flex;/*Flex Container*/
    justify-content: space-between;/*flex-start (valor padrão), flex-end, center, space-around, space-evenly e space-between*/
    align-items: center; /*flex-start, flex-end, center e stretch (valor padrão)*/
    background-color: #15191C;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.cabecalho_menu i::before {
    content: "\e904";
    font-size: 24px;
}

.cabecalho_notificacao i::before {
    content: "\e906";
}

.cabecalho_logo {
    width: 40px;
}

.menu-lateral {
    display: flex;
    /*flex-wrap: wrap; é a propriedade que usamos quando não existe mais espaço para comportar todos os elementos horizontalmente/verticalmente e é necessário uma “quebra de linha” para manter a proporção dos elementos.*/
    flex-direction: column; /*Naturalmente a orientação do flex container é na horizontal (row) e para trocar o seu eixo, basta usar a propriedade flex-direction.*/
    background-color: #15191C;
    width: 75vw;/*VW = 75% da largura de viewport*/
    height: 100vh; /*VH = 100% da altura de viewport*/
    position: absolute;
    left: -100vw;
    transition: .50s;
}

.menu-lateral-ativo {/*Classe criada pra quando o menu estiver ativo no js*/
    left: 0;
    transition: .50s;
}

.menu-lateral_logo {
    width: 118px;
    align-self: center;/*Alinha apenas o próprio elemento*/
    padding: 16px;
}

.menu-lateral_link {
    height: 64px;
    color: #95999C;
    padding-left: 64px;
    display: flex; /*Flexbox foi usado aqui num pseudo-elemento, apenas para alinhamento. É incentivado usar flex no lugar de trocar o display para inline/inline-block.*/
    align-items: center;
}

.menu-lateral_link::before {
    content: "\e900";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.menu-lateral_link-ativo {
    color: #FFFFFF;
    padding-left: 56px;
    border-left: 8px solid #FFFFFF;
}

.menu-lateral_link_inicio::before {
    content: "\e902";
}

.menu-lateral_link_videos::before {
    content: "\e90e";
}

.menu-lateral_link_picos::before {
    content: "\e909";
}

.menu-lateral_link_integrantes::before {
    content: "\e903";
}

.menu-lateral_link_camisas::before {
    content: "\e900";
}

.menu-lateral_link_pinturas::before {
    content: "\e90a";
}

.principal {
    padding: 24px;
    display: grid;
    gap: 16px;
}

.titulo_pagina {
    font-size: 1.5rem;
    font-weight: 700;
}

.cartao {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #2C343A;
}

.cartao-destaque {
    margin-bottom: 16px;
}

.cartao_conteudo {
    gap: 8px /*Cria espaçamento entre os elementos do grid (existe tb row-gap e column-gap)*/;
    padding: 16px;
    font-weight: 700;
    display: grid;
    grid-template-columns: auto 1fr; /*FR = Fração (O valor auto permite que elas se adaptem de acordo com o conteúdo.)*/
}

.cartao_destaque {
    grid-column: span 2;
}

.cartao_titulo {
    font-size: 1.2rem;
    font-weight: 700;
    grid-column: span 2;
}

.cartao_perfil {
    color: #95999C;
    font-size: 0.9rem;
    grid-column: span 2;
}

.cartao_info {
    display: flex;
    align-items: center;
    color: #95999C;
}


.cartao_info_tempo::before {
    content: "\e90c";
    margin-right: 8px;
}

.cartao_info_visualizacao::before {
    content: "\e90f";
    margin-right: 8px;
}

.cartao_botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0480DC;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    justify-self: flex-end;
    
}

.cartao_botao_play::before {
    content: "\e90b";
    font-size: 24px;

}

.cartao_botao_destaque {
    width: 100%;
    grid-column: span 2;
}

.cartao_botao_destaque::before {
    margin-right: 8px;
}

.secao {
    display: grid;
    gap: 16px;
}

.titulo-secao {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 16px;
}